body {
  background-color: black;
  background-image: url("shooting-star-2024127_1920.png");
  background-repeat: no-repeat;
}

p {
  color: white;
}

.title {
  margin-left: 550px;
  margin-top: 100px;
  color: rgb(106, 13, 173);
  font-size: 50px;
}

.author {
  color: rgb(212, 16, 212);
}

.title-text {
  margin-left: 260px;
  font-size: 30px;
}

.Outer {
  color: rgb(106, 13, 173);
}

.Aboutme {
  background-color: rgb(106, 13, 173);
  background-image: url("../nebula-4607171_1280.jpg");
  position: absolute;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  left: 270px;
  top: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.Aboutme:hover {
  background-color: rgb(139, 11, 231);
  transform: scale(1.2);
}

 .Aboutme:active {
   opacity: 0.5;
 }

 .Helpage {
   background-color: rgb(106, 13, 173);
   background-image: url("../nebula-4607171_1280.jpg");
   position: absolute;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   border-radius: 10px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   left: 100px;
   top: 30px;
   cursor: pointer;
   transition: 0.3s;
 }

 .Helpage:hover {
   background-color: rgb(139, 11, 231);
   transform: scale(1.2);
 }

 .Helpage:active {
   opacity: 0.5;
 }

 .AddOuter {
  background-color: rgb(106, 13, 173);
  background-image: url("../Outerbutton1.png");
  position: absolute;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  left: 568px;
  top: 400px;
  cursor: pointer;
  transition: 0.3s;
 }

 .AddOuter:hover {
   background-color: rgb(139, 11, 231);
   transform: scale(1.2);
 }

 .AddOuter:active {
   opacity: 0.5;
 }

 .DashboardButton {
   background-color: rgb(106, 13, 173);
   background-image: url("../Outerbutton1.png");
   position: absolute;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   border-radius: 10px;
   text-decoration: none;
   display: block;
   font-size: 16px;
   left: 575px;
   top: 300px;
   cursor: pointer;
   transition: 0.3s;
 }

 .DashboardButton:hover {
   background-color: rgb(139, 11, 231);
   transform: scale(1.2);
 }

 .DashboardButton:active {
   opacity: 0.5;
 }

 .Addtext {
  position: absolute;
  left: 500px;
  top: 350px;
  color: white;
  font-size: 20px;
}

.image {
  position: absolute;
  width: 70px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}

.Joinbutton {
  background-color: rgb(106, 13, 173);
  position: absolute;
  background-image: url(../nebula-4607171_1280.jpg);
  border: none;
  border-radius: 20px;
  left: 550px;
  top: 700px;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  transition: 0.3s;
}

.Joinbutton:hover {
  background-color: rgb(139, 11, 231);
  transform: scale(1.2);
}

.Joinbutton:active {
  opacity: 0.5;
}

.Jointext {
  position: absolute;
  left: 450px;
  top: 640px;
  color: white;
  font-size: 20px;
}