<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/website.css">
  </head>
  <body>
    <p>
      <h1 class="title">Outer(?)</h1>
    </p>

    <p class="title-text">
      <span class="Outer">Outer(?)</span> is a multi-purpose discord bot designed by <span class="author">Mitchopp</span> for fun.
    </p>

    <img class="image" src="styles/Outerpfp.png">

    <button class="Aboutme">
      About Outer(?)
    </button>

    <button class="Helpage">
      Help Page!
    </button>

    <button class="AddOuter">
      Add Outer(?)
    </button>

    <p class="Addtext">
      Want to add <span class="Outer">Outer(?)</span> to your server?
    </p>

    <button class="DashboardButton">
      Dashboard
    </button>

    <p class="Jointext">
      Want to meet Mitch and see the development process?
    </p>

    <a href="https://discord.gg/WVzS93dC" target="_blank">
      <button class="Joinbutton">
        Join Outer universe ☄
      </button>
    </a>
  </body>
</html>