.thumbnail {
  width: 300px;
  display: block;
}

.search-bar {
  font-size: 20px;
  margin-left: 20px;
  background-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
  color: black;
  border-radius: 5px;
  display: block;
}

.video-author {
  font-weight: bold;
}

.video-stats {
  color: grey;
}

.divtext {
  display: inline-block;
}

.video-preview {
  display: inline-block;
}